<div class="mx-auto flex max-w-225 pb-4" [class.flex-col]="role() === 'user'">
  @if (attachments()?.length) {
    <div
      [class]="
        role() === 'user'
          ? 'mx-4 mb-1 flex flex-wrap justify-end gap-2'
          : 'mx-4 mb-1 flex flex-wrap gap-2'
      "
    >
      @for (img of attachments(); track img.url) {
        <img
          [src]="img.url"
          alt="Attached image"
          class="max-h-50 max-w-50 rounded-lg object-cover"
        />
      }
    </div>
  }
  <div
    [class]="
      role() === 'user'
        ? 'relative mx-4 flex max-w-[70%] flex-row-reverse gap-3 self-end rounded-[calc(var(--radius)*3)_calc(var(--radius)/2)_calc(var(--radius)*3)_calc(var(--radius)*3)] bg-[color-mix(in_oklab,var(--primary)_20%,transparent)] px-4 py-3'
        : 'relative flex flex-col gap-3 px-4 py-3 sm:flex-row'
    "
  >
    @if (role() === 'assistant') {
      <div class="flex h-6 w-6 items-center justify-center">
        <span>
          <svg
            width="24"
            height="24"
            viewBox="0 0 100 100"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <defs>
              <linearGradient
                id="ai_gradient"
                x1="10"
                y1="10"
                x2="90"
                y2="90"
                gradientUnits="userSpaceOnUse"
              >
                <stop offset="20%" stop-color="var(--primary)" />
                <stop offset="100%" stop-color="var(--primary-foreground)" />
              </linearGradient>
            </defs>

            <path
              d="M45 5C45 30 30 45 5 45C30 45 45 60 45 85C45 60 60 45 85 45C60 45 45 30 45 5Z"
              fill="url(#ai_gradient)"
            />

            <path
              d="M75 55C75 68 67 76 54 76C67 76 75 84 75 97C75 84 83 76 96 76C83 76 75 68 75 55Z"
              fill="url(#ai_gradient)"
            />
          </svg>
        </span>
      </div>
    }
    @if (isStreaming()) {
      <div class="gradient-spinner absolute left-2.5 top-1.5"></div>
    }
    <div class="min-w-0 flex-1">
      <div class="wrap-break-word leading-7" [innerHTML]="content() | markdown"></div>
    </div>
  </div>
</div>
